body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cell-col-8{
    width: 33.3%
}
.cel-col-6{
    width:25% !important;
}
.float-left{
    float: left;
}
.clearfix{
    &::after{
        content: '';
        clear: both;
        width: 0;
        height: 0;
        display: block;
    }
}
.organization-popup{
    animation: moveAnimation .5s linear 0s alternate;
}
.home{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.body{
    height: 1000px;
    border: 1px solid cornflowerblue;
    padding: 10px;
    box-sizing: border-box;
}
